.main-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

.navbar {
  background-color:navajowhite;
  padding: 10px 50px 10px 50px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  /* gap: 300px; */
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.navbar-text {
  display: flex;
  flex-direction: row;
  gap: 32px;
  color: #222;
  font: 600 "poppins", san-serif;
  align-items: center;
  justify-content: left;
  align-self: stretch;
}

.navbar-links {
  list-style: none;
  margin: 0;
  font: 600 "poppins", san-serif;
  padding: 0;
  align-items: center;
  display: flex;
  gap: 50px;
}

.navbar-links li {
  margin: 0 10px;
}

.navbar-links a {
  text-decoration: none;
  color: #161616;
}

.hero {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  padding: 30px;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.hero-image {
  border-radius: 20px 20px 20px 20px;
  flex-shrink: 0;
  /* background-image: url(Assets/images/heroimage.png); */
  width: 50%;
  height: 550px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.main {
  /* display: flex;
  flex-direction: column; */
  gap: 32px;
  background-color: whitesmoke;
  justify-content: center;
}

.images {
  /* flex-wrap: wrap; */
  height: 280px;
  width:100%;
  border-radius: 10px;
}

.image {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  
}

.dog-logo {
  display: flex;
  flex-direction: row;
  height: 80px;
}

/* Media queries for responsiveness */
/* @media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }
  nav ul li {
    margin: 10px 0;
  }
} */

@media only screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .navbar {
    display: none;
  }
  
  .image {
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
  }
  .images {
    height: 150px;
    border-radius: 10px;
  }

}

/* @media only screen and (min-width: 900px) {
  .navigation {
    display: flex;
  }
  .sidebar {
    position: fixed;
  }
} */
.caption {
  text-align: center;
  color: rgb(113, 70, 5);
  font-size: 50px;
}

.caption span {
  text-align: center;
  display: block;
  margin-bottom: 16px;
  /* margin-left: px; */
}